.wrapper {
  overflow-x: clip;
  height: fit-content;

  .intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
    max-width: 1240px;

    @media (max-width: 1200px) {
      padding: 0;
    }

    @media screen and (max-width: 1000px) {
      width: 100%;
    }

    h2 {
      //margin-bottom: 40px;
      text-align: center;
      width: 100%;
      text-wrap: balance;
      max-width: 1240px;
      font-size: 70px;
      font-weight: 500;
      line-height: 61px;

      @media (max-width: 960px) {
        line-height: 40px;
        font-size: 40px;
      }

      @media (max-width: 475px) {
        font-size: 32px;
        margin-bottom: 19px;
        padding: 0;
        letter-spacing: -1px;
        max-width: 321px;

        span {
          white-space: nowrap;
          @media (max-width: 340px) {
            white-space: pre-wrap;
          }
        }
      }

      @media (max-width: 1440px) {
        width: 100%;
      }
      @media (min-width: 960px) and (max-width: 2000px) {
        font-size: 60px;
      }
      @media (min-width: 1700px) {
        font-size: 60px;
      }
    }
  }
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .section {
      position: relative;
      margin-bottom: 100px;
      max-width: 1240px;
      width: 90vw;

      @media (max-width: 835px) {
        max-width: 722px;
      }

      @media (max-width: 475px) {
        margin-bottom: 90px;
      }
      .arrow {
        @media (min-width: 681px) {
          display: none;
        }
        @media (max-width: 680px) {
          top: 110px;
          position: absolute;
          z-index: 100;
          display: flex;
          justify-content: flex-end;
          width: 90vw;
					@media (max-width: 475px) {
						top: 80px;
					}
        }
      }
      .arrowPrev,
      .arrowNext {
        position: absolute !important;
        cursor: pointer;
        top: 50%;
        @media (max-width: 680px) {
          display: none;
        }
      }
      .arrowPrev {
        transform: translateY(275%);
      }
      .arrowNext {
        transform: translateY(275%);
      }
      .arrowNext:hover,
      .arrowPrev:hover {
        background-color: transparent !important;
      }
      .arrowNext:active,
      .arrowPrev:active {
        background-color: transparent !important;
      }
      .arrowNext:focus,
      .arrowPrev:focus {
        background-color: transparent !important;
      }
      .arrowNext::after:active {
        background-color: transparent !important;
      }
      .arrowPrev {
        left: -50px;
        @media (max-width: 1200px) {
          left: -35px;
        }
      }
      .arrowNext {
        right: -50px;
        @media (max-width: 1200px) {
          right: -40px;
        }
      }
      margin-top: 100px;
      h1 {
        line-height: 57.6px;
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 20px;

        @media (max-width: 835px) {
          font-size: 36px;
        }

        @media (max-width: 600px) {
          font-size: 26px;
        }

        @media (max-width: 475px) {
          margin-bottom: 15px;
          font-size: 20px;
          line-height: 24px;
        }
      }
      @media (max-width: 600px) {
        margin-top: 90px;
      }
      span {
        color: #00748c;
      }

      .itemsLayout {
        max-width: 1240px;
        border-radius: 20px;
        margin: 0 -10px;
        overflow-x: scroll;
        padding: 0 7px;
        box-sizing: content-box;
        scroll-behavior: smooth;
        scrollbar-width: none;

        @media (max-width: 835px) {
          margin: 0;
        }
      }
      .itemsLayout::-webkit-scrollbar {
        width: 0;
        display: none;
      }
      .itemsLayout::-ms-scrollbar {
        display: none;
      }
      .items {
        min-width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 9.74px;

        @media (max-width: 835px) {
          gap: 21px;
        }
      }
    }
  }
  .mb {
    margin-bottom: 100px;
    @media (max-width: 1060px) {
      margin-bottom: 80px;
    }
    @media (max-width: 600px) {
      margin-bottom: 90px;
    }
  }
  .p {
    padding-bottom: 25px;
  }
  .rental {
    width: 90vw;
    min-width: 225px;
    /* max-width: 400px; */

    @media (max-width: 1100px) {
      max-width: 48%;
      width: 100%;
      min-width: auto;
    }

    @media (max-width: 835px) {
      max-width: 225px;
    }

    @media (max-width: 700px) {
      max-width: 100%;
      width: 100%;
      min-width: auto;
    }

    @media (min-width: 601px) {
      width: 90vw;
    }
    .img {
      img {
        min-width: 300px;
      }
    }
  }
  .yatch {
    width: 60vw;
    @media (max-width: 1200px) {
      width: 90vw;
    }
  }
  .itemsYatch {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    //padding-bottom: 100px;

    @media (max-width: 700px) {
      gap: 32px;
      flex-wrap: wrap;
      margin-bottom: 32px;
    }
  }
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 100px 0px 30px 0px;
    @media screen and (max-width: 1200px) {
      margin-top: 80px;
    }
    @media screen and (max-width: 835px) {
      margin-top: 80px;
    }
    h1 {
      font-size: 48px;
      @media (min-width: 601px) and (max-width: 1200px) {
        font-size: 36px;
      }
      @media (max-width: 600px) {
        font-size: 26px;
      }
      font-weight: 500;
    }
  }
  .max {
    max-width: 1240px;
    width: 90vw;
    // @media (max-width: 600px) {
    // 	width: 90vw;
    // }
  }
}


.clubItems{
  display: flex;
  gap: 20px;
  margin-bottom: 173px;

  @media screen and (max-width: 834px) {
    margin-bottom: 0;
  }

  @media screen and (max-width: 700px) {
    flex-wrap: wrap;
    margin-bottom: 32px;
  }
}
