.wrapper {
  background: url("../../assets/img/bg-footer.png") no-repeat center;
  background-size: cover;
  width: 100vw;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .row {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 57px 191px;
    max-width: 1300px;
    padding: 52px 20px 38px;
    @media (max-width: 1000px) {
      justify-content: flex-start;
      padding: 30px 20px 20px;
      gap: 100px;
    }

    @media screen and (max-width: 835px) {
      gap: 40px 100px;
    }

    color: #fff;
    font-size: 20px;
    @media (max-width: 655px) {
      font-size: 14px;
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    h4 {
      font-size: 18px;
      line-height: 21px;
      white-space: nowrap;
      width: fit-content;
      letter-spacing: -0.5px;
      @media (max-width: 655px) {
        margin-top: 10px;
        font-size: 16px;
      }
      font-weight: bold;
    }


    .items {
      margin-top: 20px;
      width: 260px;
      display: flex;
      flex-wrap: wrap;
      gap: 11px;
      font-weight: 400;

      a {
        font-size: 1rem;
        line-height: 20px;
        text-wrap: balance;
        width: 260px;
        letter-spacing: -0.8px;
        flex-grow: 1;

        @media screen and (max-width: 835px) {
          font-weight: 300;
        }
      }

      &.social {
        margin-top: 12px;
        gap: 10px;
        justify-content: space-between;
        width: 100%;

        img {
          //margin-right: 20px;
        }

        &:first-of-type {
          margin-bottom: 24px;
        }

        @media screen and (max-width: 475px) {
          width: fit-content;
          gap: 20px;
        }
      }
    }

    .links {
      @media (max-width: 787px) and (min-width: 590px) {
        width: 50%;
        max-width: 240px !important;
      }
    }

    .links:nth-child(1) {
      max-width: 103px;

      @media screen and (max-width: 475px) {
        max-width: 90px;

        .items {
          max-width: 90px;
        }
      }
    }

    .links:nth-child(2) {
      max-width: 204px;

      @media screen and (max-width: 475px) {
        max-width: 190px;

        .items {
          max-width: 190px;
        }
      }
    }

    .links:nth-child(3) {
      max-width: 201px;
    }

    .items:nth-child(3) {
      max-width: 201px;
    }

    .mes {
      max-width: 160px;

      .links{
        max-width: fit-content;
        position: relative;
        width: fit-content!important;
      }

      @media (max-width: 835px) {
        display: flex;
        justify-content: start;
        width: 100vw;
        max-width: 100%;
        gap: 100px;
      }

      @media (max-width: 787px) {
        display: block;
        max-width: 50%;
        width: 165px;
      }

      @media (max-width: 600px) {
        display: flex;
        max-width: 100%;
        width: 100vw;
        gap: 61px;

        div {
          width: fit-content;
        }
      }
    }

    @media screen and (max-width: 655px) {
      grid-gap: 36px 50px;
      padding-bottom: 20px;
      padding-top: 40px;
    }
  }

  .row__two {
    border-top: 1px solid #fff;
    width: 100vw;
    justify-content: center;
    display: flex;
    max-width: none;
    color: #fff;
    display: flex;
    gap: 20px;
    font-weight: bold;
    font-size: 20px;
    padding: 23px 20px;

    div {
      align-items: center;
      display: flex;
      gap: 20px;
      max-width: 1300px;
      width: 100%;
      flex-shrink: 0;
    }

    .logo {
      font-weight: 900;
      display: flex;
      width: fit-content;
      align-items: center;
      gap: .5rem;
      font-size: 25px;
    }

  }
}
