.wrapper {
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 40px 24px 40px;
  @media (max-width: 500px) {
    width: 335px;
    padding: 24px 12px 24px 12px;
  }
  background-color: #fff;
  border-radius: 12px;
  .heading {
    width: 100%;
    font-size: 26px;
    @media (max-width: 500px) {
      font-size: 18px;
      width: 100%;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      cursor: pointer;
      transform: rotate(90deg);
      width: 24px;
      height: 24px;
    }
    p {
      font-size: 26px;
      font-weight: 700;
      line-height: 31.2px;
      letter-spacing: -0.04em;
      line-height: 0;
    }
  }
  span {
    text-align: center;
    width: 100%;
    margin-top: 8px;
    display: inline-block;
    font-size: 16px;
    color: #908e8e;
  }
  .item {
    position: relative;
		font-size: 14px;
    .input {
      width: 100%;
      display: flex;
      align-items: center;
      // box-sizing: border-box;
      padding: 16px 50px 16px 28px;
      min-height: 53px;
      max-height: 53px;

      width: 470px;
      @media (max-width: 600px) {
        width: 311px;
      }
      border-radius: 8px;

      transition: border 0.5s;
      outline: none;
      font-weight: 700;
    }
    svg {
      top: 20px;
      right: 28px;
      width: 15px;
      height: 15px;
      position: absolute;
      z-index: 100;
      transition: fill 0.5s;
      cursor: pointer;
    }
    .input:hover {
      border: 1px solid #00748c;
    }
    .input:focus {
      border: 1px solid #00748c;
      align-items: flex-end;
      padding: 7px 50px 0px 28px;
    }

    .input:not(:placeholder-shown) {
      align-items: flex-end;
      padding: 7px 50px 0px 28px;
    }
    .input:focus + svg {
      fill: #00748c;
    }
    .border {
      border: 1px solid #eeeeee;
    }
    .error {
      border: 1px solid #eb5e55;
    }
    .error + svg {
      fill: #eb5e55;
    }
    p {
      color: #eb5e55;
    }
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 5px;
      background-color: #fff;
      font-weight: 700;
      top: 15px;
      left: 25px;
      position: absolute;
      z-index: 100;
      transition: top font-size 0.5s;
      border-radius: 10px;
    }
    .input:focus + label {
      color: #908e8e;
      font-size: 12px;
      top: 5px;
    }
    .input:not(:placeholder-shown) + label {
      color: #908e8e;
      font-size: 12px;
      top: 2px;
    }
  }
  .error {
    color: #eb5e55;
    fill: #eb5e55;
  }
  .colorsInput {
    svg {
      fill: #b2c7cb;
    }
    color: #728487;
  }
  .button {
    min-height: 59px;
    margin-top: 24px;
    border-radius: 8px;
    background-color: #00748c;
  }
  .button:hover {
    background-color: #079ab9;
  }
  .button:active {
    background: rgb(0, 116, 140);
  }
  .pin {
    margin-top: 20px;
  }
  .bottom {
    padding-top: 24px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -3%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    p {
      color: rgb(144, 142, 142);
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: -0.03em;
    }
    a {
      color: rgb(0, 116, 140);
    }
  }
}
