.container {
	background: url('../../assets/img/bg.png') 54% center no-repeat;

	background-size: cover;
	padding: 72px 0 100px;
	color: #fff;
	font-size: 10px;
	width: 100vw;
	display: flex;
	justify-content: center;

	@media screen and (max-width: 1060px) {
		width: 100%;
		padding: 70.24px 0;
	}

	@media screen and (max-width: 600px) {
		width: 100%;
		padding: 52px 0 100px;
	}

	@media (max-width: 475px) {
		padding-bottom: 75px;
	}

	h2{
		font-weight: 300!important;
	}
}
