.container {
	background: url('../../assets/img/bg.png') 54% center no-repeat;

	background-size: cover;
	padding: 72px 0 100px;
	color: #fff;
	font-size: 10px;
	width: 100vw;
	display: flex;
	justify-content: center;

	@media screen and (max-width: 1060px) {
		padding: 0;
		width: 100%;
		padding-top: 70.24px;
		padding-bottom: 70.24px;
	}

	@media screen and (max-width: 600px) {
		padding: 0;
		width: 100%;
		padding-top: 30px;
		padding-bottom: 100px;
	}
}
