.arrow {
	// all: initial;
	max-width: 25px;
	max-height: 25px;
	cursor: pointer;
}




@media screen and (max-width: 1190px){
	.imageCarouselWrapper{
		max-height: 240px;
	}
	.imageCarouselWrapperCatalog{
		max-height: 272px;
		height: 272px;
	}

}

@media screen and (max-width: 870px){
	.imageCarouselWrapper{
		max-height: 195px;
	}
	.imageCarouselWrapperCatalog{
		max-height: 272px;
		height: 272px;
	}
}

@media screen and (max-width: 681px){
	.imageCarouselWrapperCatalog{
		max-height: 190px;
		height: 190px;
	}
}

@media screen and (max-width: 475px){
	.imageCarouselWrapperCatalog{
		max-height: 190px;
		height: 190px;
	}
}


@media screen and (max-width: 835px){
	.prevBtn{
		left: 0;
	}

	.nextBtn{
		right: 0;
	}
}

@media screen and (max-width: 475px){
	.prevBtn{
		left: -10px;
	}

	.nextBtn{
		right: -10px;
	}
}
